<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" >
</head>
<body>

<!--导航-->
<nav class="ui  attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui  secondary menu ">
            <h2 class="ui red header item">寻知网</h2>
            <a href="#" class="item" th:href="@{/index}" th:classappend="${n==1} ? 'active' : ' '"><i class="home icon"></i> 首页</a>
            <a href="#" class="item" th:href="@{/types/-1}" th:classappend="${n==2} ? 'active' : ' '"><i class="idea icon"></i> 分类</a>
            <a href="#" class="item" th:href="@{/tags/-1}" th:classappend="${n==3} ? 'active' : ' '"><i class="tags icon"></i> 标签</a>
            <a href="#" class="item" th:href="@{/archives}" th:classappend="${n==4} ? 'active' : ' '"><i class="tags icon"></i> 归档</a>

            <div class="right item">

                <form name="search" action="#" th:action="@{/search}" target="_blank" method="post">
                    <div class=" ui icon transparent  input">
                        <input type="text" name="query" placeholder="Search...." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link  icon"></i>

                    </div>
                </form>
            </div>
            <div class="right m-item m-mobile-hide menu" th:if="${session.user}!=null">
                <a href="#" class="item" th:href="@{/blogs/input}" th:classappend="${n==6} ? 'active' : ' '"><i class="write icon"></i>写博客</a>
                <a href="#" class="item" th:href="@{/mycomments}" th:classappend="${n==6} ? 'active' : ' '"><i class="alarm icon"></i>消息</a>
                <!--                <form id="_form" method="post" action="../blogs/input">-->

                <!--                    <a href="#" class="item" onclick="document.getElementById('_form').submit();"th:classappend="${n==6} ? 'active' : ' '"><i class="write icon"></i>写博客</a>-->
                <!--                </form>-->
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="@{${session.user.avatar}}" th:src="@{${session.user.avatar}}">
                        <span th:text="${session.user.nickname}">xx</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">
                            <a href="#" th:href="@{/about}" class="item">个人信息</a>
                        </div>
                        <div class="item">
                            <a href="#" th:href="@{/selfblogs}" class="item">我的博客</a>
                        </div>
                        <div class="item">
                            <a href="#" th:href="@{/followingUser}" class="item">我的关注</a>
                        </div>
                        <div class="item">
                            <a href="#" th:href="@{/likedBlog}" class="item">已赞博客</a>
                        </div>
                        <div class="item">
                            <a href="#" th:href="@{/logout}" class="item">注销</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="right m-item m-mobile-hide menu" th:if="${session.user}==null">
                <a href="#" class="item" th:href="@{/}" >登录</a>
                <a href="#" class="item red" th:href="@{/registers}" >没有账号？注册</a>
            </div>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-massive">
        <div class="ui container center aligned">
            <h2>500</h2>
            <p>服务器内部错误，请重试</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>

<script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
<script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
<script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
<script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<script src="../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
<script> $('.ui.dropdown').dropdown({
    on : 'hover'
});</script>
</body>
</html>